header {
    font-size: 40px;
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(53, 3, 99);
    color: white;
}

button {
    margin-top: 20px;
}
